

<form method="post">
    <input type="hidden" name="sesskey" value="{{sesskey}}">

<br>
<div>
        <label for="numusp_learn">Número USP:</label>
        <input type="text" name="numusp_learn" id="numusp_learn"  required>
</div>
<div class="container border">
    <div class="form-group mb-3">
        <label for="data_la" class="form-label d-block text-center"> {{#str}}data_la, local_efla{{/str}} </label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="data_la" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="data_la_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="data_la" id="data_la_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="data_lb" class="form-label d-block text-center">{{#str}}data_lb, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="data_lb" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="data_lb_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="data_lb" id="data_lb_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="aware_la" class="form-label d-block text-center">{{#str}}aware_la, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="aware_la" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="aware_la_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="aware_la" id="aware_la_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
           </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="aware_lb" class="form-label d-block text-center">{{#str}}aware_lb, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="aware_lb" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="aware_lb_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="aware_lb" id="aware_lb_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="aware_lc" class="form-label d-block text-center">{{#str}}aware_lc, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="aware_lc" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="aware_lc_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="aware_lc" id="aware_lc_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
           </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="aware_ld" class="form-label d-block text-center">{{#str}}aware_ld, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="aware_ld" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="aware_ld_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="aware_ld" id="aware_ld_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="impact_la" class="form-label d-block text-center">{{#str}}impact_la, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="impact_la" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="impact_la_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="impact_la" id="impact_la_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="impact_lb" class="form-label d-block text-center">{{#str}}impact_lb, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="impact_lb" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="impact_lb_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="impact_lb" id="impact_lb_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>
    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>



