
<form method="post">
    <input type="hidden" name="sesskey" value="{{sesskey}}">

<br>
<div>
        <label for="numusp_teach">Número USP:</label>
        <input type="text" name="numusp_teach" id="numusp_teach"  required>
</div>
<div class="container border">
    <div class="form-group mb-3">
        <label for="data_ta" class="form-label d-block text-center">{{#str}}data_ta, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="data_ta" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="data_ta_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="data_ta" id="data_ta_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="data_tb" class="form-label d-block text-center">{{#str}}data_tb, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="data_tb" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="data_tb_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="data_tb" id="data_tb_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="aware_ta" class="form-label d-block text-center">{{#str}}aware_ta, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="aware_ta" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="aware_ta_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="aware_ta" id="aware_ta_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="aware_tb" class="form-label d-block text-center">{{#str}}aware_tb, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="aware_tb" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="aware_tb_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="aware_tb" id="impact_ta_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="aware_tc" class="form-label d-block text-center">{{#str}}aware_tc, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="aware_tc" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="aware_tc_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="aware_tc" id="aware_tc_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="aware_td" class="form-label d-block text-center">{{#str}}aware_td, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="aware_td" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="aware_td_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="aware_td" id="aware_td_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>
<div class="container border">
    <div class="form-group mb-3">
        <label for="impact_ta" class="form-label d-block text-center">{{#str}}impact_ta, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="impact_ta" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="impact_ta_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="impact_ta" id="impact_ta_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>

<br>

<div class="container border">
    <div class="form-group mb-3">
        <label for="impact_tb" class="form-label d-block text-center">{{#str}}impact_tb, local_efla{{/str}}</label>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
            <span class="me-2">Strongly Agree</span>
            <div id="impact_tb" class="d-flex flex-row flex-wrap">
                {{#range_1_10}}
                    <div class="form-check form-check-inline mx-1 d-flex flex-column align-items-center">
                        <label class="form-check-label mb-1 w-100" for="impact_tb_{{.}}">{{.}}</label>
                        <input class="form-check-input" type="radio" name="impact_tb" id="impact_tb_{{.}}" value="{{.}}">
                    </div>
                {{/range_1_10}}
            </div>
            <span class="ms-2">Strongly Disagree</span>
        </div>
    </div>
</div>


    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>



